{
   "twitchAuthToken": "590d2d4z08u4idu65vrdkf445ugos9",
   "twitchUser": "Baseinfinity",
   "twitchClientId": "nd22fmrsqjrj4yq35a0rpmfv79g0m4",
   "twitchSecret": "gv13useb02jp53zcrc4oar857xlckm",
   "twitchBrowserClientId": "4imne78kx3n5x6brgo4mv6wki5h1ko",
   "redditUsername": "ikeeki",
   "redditPassword": "yourMother",
   "redditAppId": "z2ur11U4ywZsmA",
   "redditSecret": "w-P1qJv37Xb2rbNeU68NEtQJq7I",
   "redditUserAgent": "LiveStreamClips/1.0.0 (https://www.twitch.tv/baseinfinity)",
   "subreddit": "ikeeki"
}
